# React App Configuration
REACT_APP_API_URL=http://localhost:5000
REACT_APP_STRIPE_PUBLISHABLE_KEY=pk_live_51RazZzLAHukLF6ag2VyYOrFzXuFWvn3to4dRgfy3YvIaWgD2tBvOBKiO4tVw4mGREt2iFQ6oieR0yIfDb27vHRR300GjgjJc2U

# Optional: Google Analytics
REACT_APP_GA_TRACKING_ID=your_google_analytics_id

# Optional: Google Reviews URL
REACT_APP_GOOGLE_REVIEWS_URL=https://www.google.com/search?q=staying+in+bern+reviews 